<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>about page</title>
</head>
<body>
<section>
	<div class="container">
		<div class="col-lg m-auto d-blcok">
			<form th:action="@{/do_search}" method="post" >
			<!-- 
				<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  						<p class="text-center" th:text="${session.message.content}"></p>
  						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div> -->
				
				<div class="text-center mt-5">
			    <span class="font-weight-bold mr-4">HOTEL/CITY:</span><input type="text" name="keyword" id="keyword" size="45" th:value="${keyword}"
			    placeholder="type hotel name or city" required />
			    &nbsp;
			    <input type="submit" value="Search" class="btn btn-success btn-sm"/>
			  <!--  &nbsp;
			    <input type="button" value="Clear" id="btnClear" class="btn btn-warning btn-sm" onclick="clearSearch()" />  -->
			</div>
			</form>
			
			<div class="card mt-3 shadow-lg p-3 mb-5 bg-white rounded">
			<div class="card card-body">
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th>Hotel ID</th>
							<th>Hotel Name</th>
							<th>City</th>
							<th>Available rooms</th>
							<th>Price</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="items:${listHotel}">
							<td th:text="${items.hotelId}"></td>
							<td th:text="${items.hotelName}"></td>
							<td th:text="${items.city}"></td>
							<td th:text="${items.availableRoom}"></td>
							<td th:text="${items.price}"></td>
							<td><a th:href="@{/user/guestRegister(id=${items.hotelId},price=${items.price},rooms=${items.availableRoom})}" class="btn btn-dark">Book</a></td>
							
						</tr>
					</tbody>

				</table>
			</div>
		</div>
		</div>
	</div>
</section>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/do_search}]]";
    }
</script>
</body>
</html>